* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.red {
    background-color: rgba(255,0,0,0.5);
}

.green {
    background-color: rgba(0,255,0, 0.5);
}

.yellow {
    background-color: rgba(255,255,0,0.5);
}

.blue {
    background-color: rgba(0,0,255,0.5);
}

.top {
    position: absolute;
    width: 100vw;
    height: 100px;
}

.left {
    position: absolute;
    top: 100px;
    width: 20vw;
    height: calc(100vh - 100px);
}

.right {
    position: absolute;
    top: 100px;
    left: 20vw;
    width: 80vw;
    height: calc(100vh - 100px);
}